*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-image: url(fundo.png);
    background-size: cover; /*Cobre toda a tela*/
    background-repeat: no-repeat; /*evita repetições*/
    background-attachment: fixed; /*fica fixa*/
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


.navbar {
    position: fixed; /*Faz com que a navbar fique fixa no topo*/
    top: 0;          /*Cola no topo*/
    width: 100%;    /*Ocupa toda a largura*/
    background-color: rgba(56, 42, 95, 0.164);
    display: flex;  /*Coloca os itens lado a lado*/
    justify-content:space-between; /*Centraliza os itens*/
    align-items: center; /*alinha verticalmente*/
    padding: 15px 40px;
    z-index: 1000;   /*Garante que fica acima da class conteudo*/
}

.navbar-esquerda h1 {
    color: rgb(131, 107, 163);
    margin: 0;
    margin-left: 70px;
}

.navbar-direita {
    display: flex;
    gap: 30px
}

.navbar-direita a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-direita a:hover{
    color: rgb(45, 37, 92);
}

.carta-frente {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: 10px;
}

.carta-verso {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: 10px;
}

.carta-container {
    position: relative; /*ponto de referencia para o texto*/
    display: inline-block; /*só ocupe o espaço da imagem*/
    perspective: 1000px;
    width: 90vw;
    max-width: 700px;
    height: auto;
    aspect-ratio: 7 / 5.5;
}

.carta-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.carta-container.virada .carta-inner {
    transform: rotateY(180deg);
}

.carta-frente, .carta-verso {
    position: absolute; /*faz as cartas sobrepor*/
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.carta-frente {
    transform: rotateY(180deg);
}

.carta-frente img, .carta-verso img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.texto-sobre-carta h1{
    position: absolute; /*posiciona em relação ao container carta*/
    top: 6%;
    left: 50%;
    transform: translate(-50%); /*Centraliza exatamente no meio*/
    font-size: 21px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black; /*sombra no texto*/
    z-index: 1;
}

.texto-sobre-carta h2{
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    text-align: center;
}

.texto-sobre-carta h3{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    text-align: center;
}

.texto-sobre-carta h4{
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    text-align: center;
}

.texto-sobre-carta h5{
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    text-align: center;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 50px 50px 50px;
    gap: 60px;
}

.texto-apresentacao h1{
    font-size: 48px;
    margin-top: 10px;
}

.texto-apresentacao h2{
    font-size: 28px;
}

.texto-apresentacao h3{
    font-size: 40px;
    margin-bottom: 10px;
    color: #ccc;
    margin-left: 80px;
    margin-top: 180px;
}

.texto-apresentacao p{
    font-size: 18px;
    line-height: 1.6;
    margin-left: 10px;
    margin-top: 60px;
}

.conteudo {
    margin-top: 80px;
    padding: 100px;
    border-radius: 10px;
    max-width: 800px;
    margin: 80px auto 0 auto;
}

.habilidades h1,
.projetos h1,
.contatos h1 {
    font-size: 50px;
    text-align: center;
    margin: 150px auto 80px auto;
}

.habilidades h2 {
    font-size: 28px;
    margin-left: 200px;
    margin-bottom: 70px;
}

.habilidade-logo {
    display: inline;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    border-radius: 20px;
    margin: 0px auto 70px 70px;
}

.carrossel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20;
}

.carrossel-faixa {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carrossel-faixa h2 {
    font-size: 25px;
    text-align: center;
    margin: 15px auto 80px auto;
}

.habilidade-bloco {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.seta-esquerda {
    left: 10px;
}

.seta-direita {
    right: 10px;
}

.seta:hover {
    color: #000;
}


.bloco-projeto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    justify-items: center;
    padding: 0 50px;
}

.logo-projeto {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.contatos-container {
    display: flex;
    justify-content: center;
    gap: 100px
}

.contato-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato-item img {
    width: 80px;
    margin-top: 100px;
    margin-bottom: 15px;
}

.contato-item h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.contato-item p {
    font: 16px;
    margin-bottom: 400px;
}

@media (max-width: 1024px) {
    .apresentacao {
        flex-direction: column;
        padding: 80px 20px;
    }

    .texto-apresentacao h3,
    .texto-apresentacao p {
        margin-left: 10px;
        text-align: center;
    }

    .habilidade-logo {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .habilidades h2 {
        text-align: center;
        margin-left: 0;
    }

    .contatos-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .contato-item p {
        margin-bottom: 100px;
    }
}
.projeto {
    display: inline-block;
    margin: 30px;
    cursor: pointer;
    padding: 0px 80px 0px 80px;
}

.projeto img{
    width: 200%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.projeto img:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    width: 60%;
    animation: aparecer 0.3s ease;
}

.fechar {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
